<form [formGroup]="filterForm">
  <input type="text" id="description" [formControl]="filterForm.controls['description']">
  <input type="number" id="code" [formControl]="filterForm.controls['code']">
  <select [formControl]="filterForm.controls['country']">
    <option [ngValue]="country.code" *ngFor="let country of countries">
      {{country.name}}
    </option>
  </select>
  <button type="button" (click)="saveFilterForm()" [disabled]="!filterForm.valid">SAVE</button>
</form>

